<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGG1gJ8SAPQMMZnWxuAA4NglyJ2IcBtsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1067689461262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moodnest</string>
	<key>PROJECT_ID</key>
	<string>moodnest-jatin</string>
	<key>STORAGE_BUCKET</key>
	<string>moodnest-jatin.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067689461262:ios:080b1a52f83cf9b425de5f</string>
</dict>
</plist>